
* {
    font-family: 'Noto Sans TC', sans-serif;
}


html, body {
    height: 100%;
}


/* hides the questions, final, highscores and yesno ID's */
#questions,
#final,
#highscores,
#yesno {
    display: none;  
  } 